@use 'components';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-150;
}

:root {
  @apply bg-crust text-text;

  font-family: "JetBrains Mono", monospace;
}

.container-full {
  @apply w-full container mx-auto px-4
}

.bg-grid {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="rgb(255 255 255)"><path d="M0 .5H31.5V32"/></svg>');
}

.bg-grid-lg {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" width="72" height="72" fill="none" stroke="rgb(255 255 255)"><path d="M0 .5H71.5V72"/></svg>');
}
