---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="page missing" navbarFixed>
  <div class="container-full flex min-h-svh flex-col items-center justify-center gap-2">
    <h1 class="text-4xl">404'd</h1>
    <p class="text-text/50">no page here, go <a href="/" class="anchor anchor-accent underline">home</a></p>
  </div>
</BaseLayout>
