---
import { Icon } from 'astro-icon/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<script>
  import Typed from 'typed.js';

  new Typed(document.getElementById('hero-header'), {
    strings: ['hello.', "i'm rice"],
    typeSpeed: 50,
    backDelay: 1000,
  });
</script>

<BaseLayout title="rice-dev" navbarFixed transparent>
  <section class="relative flex min-h-svh flex-col justify-center gap-16">
    <img
      src="/hero-background.png"
      alt=""
      class="img-cover opacity-25"
      style="-webkit-mask-image: linear-gradient(to bottom right, transparent, #000)"
    />

    <div class="container-full relative">
      <div class="flex flex-col items-center gap-4 text-center md:max-w-[50%] md:items-start md:text-left">
        <h1 class="text-4xl">
          <span id="hero-header"></span>
        </h1>
        <p class="opacity-75">this is my personal portfolio/blog page.</p>
        <div class="mt-8 flex gap-4">
          <a href="/blogs/about-me" class="btn btn-accent">about me</a>
          <a href="https://github.com/rice-cracker-dev" target="_blank" class="btn btn-neutral">
            <Icon name="fa6-brands:github" />
            <span>my github</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
