---
import { Icon } from 'astro-icon/components';
---

<footer class="bg-crust py-8">
  <div class="container-full">
    <h1 class="text-xl">rice-dev</h1>

    <div class="mt-8 flex flex-col gap-2">
      <a href="mailto:ricecracker2234@outlook.com" class="anchor text-text/50">
        <Icon name="ph:envelope-simple-fill" />
        <span>email:ricecracker2234@outlook.com</span>
      </a>
      <a href="https://github.com/rice-cracker-dev" class="anchor text-text/50">
        <Icon name="fa6-brands:github" />
        <span>github:rice-cracker-dev</span>
      </a>
    </div>
  </div>
</footer>
