---
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await Astro.glob('./*.md');
---

<BaseLayout title="my blogs">
  <section class="container-full mt-16">
    <div class=""></div>

    {
      posts
        .filter((post) => post.frontmatter.published)
        .map((post) => (
          <a href={post.url} class="anchor flex flex-col">
            <span class="line-clamp-1">{post.frontmatter.title}</span>
            <span class="line-clamp-1 text-sm opacity-50">
              posted on {new Date(post.frontmatter.pubDate.toLocaleDateString()).toLocaleDateString()}
            </span>
          </a>
        ))
    }
  </section>
</BaseLayout>
