---
import '../styles/index.scss';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  navbarFixed?: boolean;
}

const { title, navbarFixed } = Astro.props;
---

<html lang="en" class="macchiato">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <main class="min-h-svh">
      <Navbar {navbarFixed} />

      <slot />
    </main>

    <Footer />
  </body>
</html>
