---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="container-full mt-16 flex flex-col gap-24">
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2 text-sm md:gap-4">
        {frontmatter.tags.map((tag: string) => <span class="opacity-50">#{tag}</span>)}
      </div>
      <h1 class="text-4xl font-black">{frontmatter.title}</h1>
      <p class="opacity-75">posted on {new Date(frontmatter.date).toLocaleDateString()}</p>
    </div>

    <div class="prose prose-ctp">
      <slot />
    </div>
  </article>
</BaseLayout>
